.flexcontainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    flex-direction: row;
}

.team-pole {
    width: calc(50% - 30px);
    margin: 10px auto;
    padding: 5px;
    display: flex;
    transition: 0.3s;
}

.team-pole:hover {
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.15);
}

.zdjecie {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 5px;
    background-size: cover;
    transition: transform 0.6s;
}

.zdjecie:hover {
    transform: rotate(180deg);
}

.zdjecie-jarek {
	background-image: url("img/figi2.jpg");
}
.zdjecie-kuba, .zdjecie-kamil, .zdjecie-patryk {
    background-image: url("img/talib.png");
}

.person {
    width: calc(100% - 150px);
    margin: 5px 5px 0 5px;
}

.person a {
    transition: 0.3s;
}

.person a:hover {
    color: #d62261;
}

.person p, .person h2 {
    padding-bottom: 10px;
}

@media (max-width: 1022px) {
    .flexcontainer {
        flex-direction: column;
	      justify-content: center;
    }
    .team-pole {
        width: 70%;
    }
}
