@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

/* ... reset ... */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* ... navigation ... */
nav {
    padding: 20px;
    overflow: hidden;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;
}
nav p {
    padding: 5px;
    display: block;
    float: left;
}
nav ul {
    list-style-type: none;
}
nav li {
    display: inline-block;
    float: right;
}
nav a {
    display: block;
    padding: 5px 10px;
    transition: 0.3s;
}
nav a:hover {
    color: #ffffff;
}

/* ... header ... */
header {
    top: 78px;
    position: relative;
    padding: 3em 0;
    height: 400px;
}

/* ... container ... */
.container {
    margin: 0 auto;
    width: 1024px;}

main {
    height: 2768px;
}

h1 {
    font-size: 3em;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
}

/* ... text colors ... */
.tx-body {
    color: #222529;
}
.tx-grey {
    color: #999999;
}
.tx-section {
    color: #d62261;
}
.tx-menu {
    color: #eb91b0;
}
.tx-banner {
    color: #fd81ab;
}
.tx-white {
    color: #ffffff;
}

/* ... background colors ... */
.bg-body {
    background-color: #f8f9fa;
}
.bg-menu {
    background-color: #d62261;
}
.bg-banner {
    background-color: #c01e5c;
    background: linear-gradient(#d62261, #c01e5c);
}
.bg-white {
    background-color: #ffffff;
}

/* ... font weight ... */
.weight-300 {
    font-weight: 300;
}
.weight-400 {
    font-weight: 400;
}
.weight-500 {
    font-weight: 500;
}
.weight-700 {
    font-weight: 700;
}
.weight-900 {
    font-weight: 900;
}

/* ... font size ... */
.font-30em {
    font-size: 3.0em;
}
.font-25em {
    font-size: 2.5em;
}
.font-20em {
    font-size: 2.0em;
}
.font-15em {
    font-size: 1.5em;
}
.font-13em {
    font-size: 1.3em;
}
.font-12em {
    font-size: 1.2em;
}
.font-11em {
    font-size: 1.1em;
}
.font-10em {
    font-size: 1.0em;
}
